<div id="<%= dom_id post %>">  
    Post made by: <%= link_to post.user.name, user_path(post.user) %>    
    <h5><%= post.title %></h5>
  <div>
    <%= post.body %>
  </div>
  <%= pluralize(post.views, "view") %>
</div>