<div id="<%= dom_id post %>">  
    Post made by: <%= link_to post.user.name, user_path(post.user) %>
    <h5><%= post.title %></h5>
    <%= pluralize(post.views, "view") %>

  <div>
    <%= post.body %>
  </div>

</div>
